body {
  background-color: white;
  /* background-image: url(../assets/pictures/background_large.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%; */
}

.navbar{
  background-color: rgba(0, 0, 0, 0.6);
}
.navbar-expand-md{
  background-color: rgba(0, 0, 0, 0.6);
}


.name {
  text-align: center;
}


.containerBox {
  margin: 5% 5%;
}

.social:hover {
  opacity:0.7;
}
div.gallery {
    border: none;
}


div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 10px;
    float: left;
    width: 14.2222%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 25%;
        margin: 30px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 50%;
        margin: 10px 0;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
