body {
  background-image: url(../assets/pictures/background_large.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  Background-attachment: fixed;
}
ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #4f6367;
  opacity: 0.95;
}
li {
  display: inline;
  float: right;
  margin: 0;
}
li a {
  display: block;
  font-family: Arial;
  text-decoration: none;
  border: hidden;
  padding: 15px 15px;
  text-align: center;

}
li a:link, a:visited {
  color: white;
  background-color: #4f6367;
}

li a.active {
  color: #4f6367;
  background-color: white;
}

li a:hover:not(.active) {
  color: #8e9b9d;
  background-color: #293b3f;
}
.name {
  color: #4f6367;
  font-family: Courier;
  font-style: normal;
  text-align: center;
  font-size: 55px;
  margin: 10% 0% 5% 0%;
}

p {
  text-align: center;
  color: #4f6367;
  font-family: Arial;
  font-size: 15px;
}
